/*body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: aliceblue;
    width: 100%;
    height: auto;
    
}

form {
    border: 3px dashed #ccc;
    width: 50%;
    margin-top: 120px;
    margin-left: 400px;
}

input[type=text], input[type=password] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 80%;
    margin-left: 100px;
}

    button:hover {
        opacity: 0.8;
    }





.container {
    padding: 20px;
    margin-top: 20px;
}

    .container b {
        margin-left: 90px;
        color: azure;
    }


.ff {
    width: 100%;
    margin-bottom: 15px;
}

h1 {
    color: #fff;
}*/
